{% extends 'base.html' %}
{% block title %}Pacientes{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pacientes</h1>
        </div>
        <div class="col-sm-12 box-buscas">
            <div class="col-lg-3">
                <div>
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-primary btn-left"
                               href="#"
                               role="button">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                Novo Paciente</a></div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                                {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="col-lg-3">
                <form method="get">
                    <div class="input-group custom-search-form">
                        <input class="form-control" placeholder="Buscar Paciente" type="text" name="q"
                               value="{{ request.GET.q }}">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista de Pacientes
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>NOME</th>
                                <th>RG</th>
                                <th class="col-lg-2">OPÇÕES</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <th>{{ paciente.id }}</th>
                                    <td>{{ paciente.nome }}</td>
                                    <td>{{ paciente.rg }}</td>
                                    <td>
                                        <div class="pull-right btn-group ">
                                            <a href="#" id="verPost" title="Visualizar"
                                               class="btn btn-primary fa fa-eye"
                                               data-url="{% url 'paciente' paciente.id %}"></a>
                                            <a href="#" title="Imprimir" class="btn btn-primary fa fa-print"></a>
                                            <a href="#" title="Editar" class="btn btn-primary fa fa-edit"></a>
                                        </div>
                                    </td>

                                    {% empty %}
                                    <th colspan="6">Paciente Não Encontrado!</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    {{ numerorequisicao }}
                                    {% if requisicoes.has_other_pages %}
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                {% if requisicoes.has_previous %}
                                                    <li class="page-item ">
                                                        <a class="page-link"
                                                           href="?page={{ requisicoes.previous_page_number }}&q={{ request.GET.q }}">Anterior</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                                    </li>
                                                {% endif %}
                                                {% for i in requisicoes.paginator.page_range %}
                                                    {% if requisicoes.number == i %}
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#"><span>{{ i }} <span
                                                                    class="sr-only">(current)</span></span></a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ i }}&q={{ request.GET.q }}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if requisicoes.has_next %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page={{ requisicoes.next_page_number }}&q={{ request.GET.q }}">Próximo</a>
                                                    </li>
                                                {% else %}jifdçl[

                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ----------------------------------------------- -->

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                        {{ paciente }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


{% endblock body %}
{% block scripts %}
    <script>

        $("#verPost").click(function () {
            var btn = $(this);  // <-- HERE

            $.ajax({
                url: btn.attr("data-url"),  // <-- AND HERE
                type: 'get',
                dataType: 'json',

                beforeSend: function () {
                    $("#myModal").modal("show");
                },

                success: function (data) {



                    $("#myModal .modal-content").html(data);

                }

            });
            alert(data);
        });

    </script>
{% endblock scripts %}