<div class="form-group col-sm-7 col-md-6 {% if form.nome.errors %} has-error{% endif %}">
    <label class="form-control-label" for="{{ form.nome.id_for_label }}">Nome:</label>
    <div class="form-group">
        {{ form.nome }}
    </div>
    <small class="invalid-feedback">
        {{ form.nome.errors }}
    </small>
</div>
<div class="form-group col-sm-7 col-md-6 {% if form.rg.errors %} has-error has-feedback{% endif %}">
    <label class="control-label" for="{{ form.rg.id_for_label }}">RG:</label>
    <div class="form-group">
        {{ form.rg }}
    </div>
    <small class="help-block">
        {{ form.rg.errors }}
    </small>
</div>