{% extends 'base.html' %}
{% block title %}Pacientes{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Agentes</h1>
        </div>
        <div class="col-sm-12 box-buscas">
            <div class="col-lg-3">
                <div>
                    <div class="card">
                        <div class="card-header">
                            {% if 'medsis.adicionar_agente' in perms %}
                                <a class="btn btn-success criar-agente" href="#"><i class="fa fa-plus"></i> Novo Agente</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3">
                <form method="get">
                    <div class="input-group custom-search-form">
                        <input class="form-control" placeholder="Buscar Agente" type="text" name="q"
                               value="{{ request.GET.q }}">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista de Agentes
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>NOME</th>
                                <th>RG</th>
                                <th class="col-lg-2">OPÇÕES</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agente in agentes %}
                                <tr>
                                    <th>{{ agente.id }}</th>
                                    <td>{{ agente.nome }}</td>
                                    <td>{{ agente.rg }}</td>
                                    <td>
                                        <div class="pull-right btn-group ">
                                            {% if 'medsis.ver_agente' in perms %}
                                                <a href="#" data-toggle="tooltip" title="Visualizar"
                                                   class="btn btn-primary fa fa-eye verPost ver_agente"
                                                   data-url="{% url 'ver_agente' agente.id %}"></a>
                                            {% endif %}
                                            {% if 'medsis.deletar_agente' in perms %}
                                                <a href="#" data-toggle="tooltip" title="Deletar"
                                                   data-url="{% url 'agente_delete' agente.id %}"
                                                   class="btn btn-primary fa fa-trash delete"></a>
                                            {% endif %}
                                            <a href="#" data-toggle="tooltip" title="Editar"
                                               data-url="{% url 'edit_agente' agente.id %}"
                                               class="btn btn-primary fa fa-edit editar-agente"></a>
                                            {% if user.is_superuser %}

                                            {% endif %}

                                        </div>
                                    </td>
                                    {% empty %}
                                    <th colspan="6">Agentes Não Encontrado!</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    {{ numerorequisicao }}
                                    {% if agentes.has_other_pages %}
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                {% if agentes.has_previous %}
                                                    <li class="page-item ">
                                                        <a class="page-link"
                                                           href="?page={{ agentes.previous_page_number }}&q={{ request.GET.q }}">Anterior</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                                    </li>
                                                {% endif %}
                                                {% for i in agentes.paginator.page_range %}
                                                    {% if agentes.number == i %}
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#"><span>{{ i }} <span
                                                                    class="sr-only">(current)</span></span></a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ i }}&q={{ request.GET.q }}">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if agentes.has_next %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page={{ agentes.next_page_number }}&q={{ request.GET.q }}">Próximo</a>
                                                    </li>
                                                {% else %}

                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- Modal -->
    <div id="modal-agente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="modal-agente-ver" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Modal Delete -->
    <div id="modal-agente-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock body %}
{% block scripts %}
    <script>
        $(function () {

            var htmlToPrint = '' +
                '<div class="panel panel-default">' +
                '<div class="panel-body">' +
                '<div class="progress">' +
                '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">' +
                'Carregando....' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';

            // Criar agente ---------------------------
            $(".criar-agente").click(function () {
                $.ajax({
                    url: '/agentes/criar/',
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-agente").modal("show");
                    },
                    success: function (data) {
                        $("#modal-agente .modal-content").html(data.html_form);
                    }
                });
            });

            $("#modal-agente").on("submit", ".create-agente", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            alert("Agente cadastrado com sucesso!");
                            window.location = '{% url 'agentes' %}';
                        }
                        else {
                            $("#modal-agente .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            });

            // Editar Agente --------------------------
            $(".editar-agente").click(function () {
                var btn = $(this);
                var htmlToPrint = '' +
                    '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                    '<div class="progress">' +
                    '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">' +
                    'Carregando....' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-agente").modal("show");
                        $("#modal-agente .modal-content").html(htmlToPrint);
                    },
                    success: function (data) {
                        $("#modal-agente .modal-content").html(data.html_form);
                    }
                });
            });

            $("#modal-agente").on("submit", ".update-agente", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            alert("Agente Atualizado com susesso!");
                            window.location = '{% url 'agentes' %}';
                        }
                        else {
                            $("#modal-agente .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            });

            // Deletar
            $(".delete").click(function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {

                        $("#modal-agente-delete").modal("show");
                    },
                    success: function (data) {

                        $("#modal-agente-delete .modal-content").html(data.html_form);
                    }
                });

            });

            $("#modal-agente-delete").on("submit", ".delete-agente", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            alert("Agente Deletado com sucesso!");
                            window.location = '{% url 'agentes' %}';
                        }
                        else {
                            $("#modal-agente-delete .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            });

            // VER AGENTE
            $(".ver_agente").click(function () {
                var btn = $(this);
                var htmlToPrint = '' +
                    '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                    '<div class="progress">' +
                    '<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">' +
                    'Carregando....' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-agente-ver").modal("show");
                        $("#modal-agente-ver .modal-content").html(htmlToPrint);

                    },
                    success: function (data) {
                        $("#modal-agente-ver .modal-content").html(data.html_agente)

                    }
                });

            });
        });

        // Tooltip
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock scripts %}